.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.top-0 {
  top: 0px;
}

.z-\[900\] {
  z-index: 900;
}

.z-\[98\] {
  z-index: 98;
}

.float-left {
  float: left;
}

.m-0 {
  margin: 0px;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.\!flex {
  display: flex !important;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-\[calc\(100vh-2rem\)\] {
  height: calc(100vh - 2rem);
}

.h-full {
  height: 100%;
}

.max-h-\[calc\(100vh-3rem\)\] {
  max-height: calc(100vh - 3rem);
}

.max-h-full {
  max-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.\!w-20 {
  width: 5rem !important;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.\!justify-between {
  justify-content: space-between !important;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-px {
  gap: 1px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.text-wrap {
  text-wrap: wrap;
}

.\!text-nowrap {
  text-wrap: nowrap !important;
}

.text-nowrap {
  text-wrap: nowrap;
}

.border {
  border-width: 1px;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-black\/20 {
  background-color: rgb(0 0 0 / 0.2);
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.\!p-\[unset\] {
  padding: unset !important;
}

.\!py-\[unset\] {
  padding-top: unset !important;
  padding-bottom: unset !important;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.text-left {
  text-align: left;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.text-green-700 {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

[x-cloak] {
  display: none !important;
}

.dark\:bg-\[\#222222\]:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 34 / var(--tw-bg-opacity));
}

.dark\:text-green-500:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.dark\:text-white:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.\[\&_button\]\:border-none button {
  border-style: none;
}

.\[\&_button\]\:font-sans button {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.\[\&_button\]\:text-white button {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.\[\&_e\]\:font-bold e {
  font-weight: 700;
}

.\[\&_j\]\:\!inline j {
  display: inline !important;
}

.\[\&_j\]\:text-red-800 j {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity));
}

.\[\&_j\]\:dark\:text-red-500:where(.dark, .dark *) j {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.\[\&_m\]\:hidden m {
  display: none;
}

.\[\&_s\]\:hidden s {
  display: none;
}

.\[\&_t\]\:ms-\[5\%\] t {
  margin-inline-start: 5%;
}

.\[\&_t\]\:block t {
  display: block;
}
